services:
  nginx:
    build:
      context: ./Frontend
      dockerfile: Dockerfile
    container_name: nginx_proxy
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - frontend
    networks:
      - app-network
  frontend:
    build:
      context: ./Frontend
      dockerfile: Dockerfile
    container_name: client_c
    ports:
      - "5173:5173"
    networks:
      - app-network

  backend:
    build:
      context: ./ApiForSud/ApiForSud
      dockerfile: Dockerfile
    container_name: server_c
    ports:
      - "7080:7080"
    environment:
      - ASPNETCORE_URLS=http://+:7080
      - ASPNETCORE_ENVIRONMENT=Production
      - ConnectionStrings__MydefaultConnection=${DB_CONNECTION}
    networks:
      - app-network

  backgroundservice:
    build:
      context: ./BackGroundService/BackGroundService
      dockerfile: Dockerfile
    container_name: backgroundservice_c
    depends_on:
      - emailservice
    environment:
      - ApiSettings__SenderUrl=${API_SENDER_URL}
      - ConnectionStrings__MydefaultConnection=${DB_CONNECTION}

  emailservice:
    build:
      context: ./EmailService/EmailService
      dockerfile: Dockerfile
    container_name: emailservice_c
    network_mode: "host"
    ports:
      - "5034:5034"
    environment:
      - smtpConfig__login=${SMTP_LOGIN}
      - smtpConfig__psw=${SMTP_PASSWORD}
      - smtpConfig__smtpConnection=${SMTP_CONNECTION}
      - ASPNETCORE_URLS=http://+:5034
      - ASPNETCORE_ENVIRONMENT=Production

networks:
  app-network:
    driver: bridge
